@import "./colors";
@import "./mixins";

.channel-list__sidebar {
  width: 5vw;
  height: 100%;
  background-color: $accent-color;
  box-shadow: 0px 0px 10px rgba(112, 112, 112, 0.459);

  .channel-list__icon1,
  .channel-list__icon2 {
    color: $background-color;
  }
}

.channel-list__list__wrapper {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 100%;
  border-top-right-radius: 3px;
  background-color: $secondary-accent-color;

  .channel-list__header__text {
    font-weight: bold;
    padding: 10px;
    color: $background-color;
    font-size: 1.3rem;
  }

  .str-chat.str-chat-channel-list.messaging.light {
    background-color: transparent;
    min-height: 10vh;
    height: 15%;
    max-height: 30vh;
    width: fit-content !important;
  }

  .channel-preview__wrapper__selecter {
    p {
      font-weight: bold;
      font-size: 1rem;
      text-shadow: 0px 0px 2px rgba(112, 112, 112, 0.76);
      transition: 0.8s ease;
    }

    .channel-preview__item-single {
      @include flex-center();
      padding: 0px 10px;

      .str-chat__avatar-fallback {
        background-color: $background-color;
        color: $accent-color !important;
      }
    }
  }

  .channel-preview__wrapper {
    p {
      font-weight: bold;
    }
    .channel-preview__item-single {
      @include flex-center();
      padding: 0px 10px;

      .str-chat__avatar-fallback {
        background-color: $background-color;
        color: $accent-color !important;
      }
    }
  }

  .channel-preview__wrapper:hover {
    background-color: $accent-color;
  }
}

.channel-list__container {
  display: flex;
  height: 100%;
  box-shadow: inset 0px 0px 10px rgba(112, 112, 112, 0.459);
}

.channel-list__container-responsive {
  display: none;
  height: 100%;
  box-shadow: 0px 0px 10px rgba(112, 112, 112, 0.459);
  position: absolute;
  width: 90%;
  top: 0%;
  z-index: 5;
  transition: 0.8s ease;
}
