@import "./colors";
@import "./mixins";

.channel__container {
  height: 100%;
  width: 100%;
  padding: 0 !important;
  color: $font-color;
  .str-chat {
    color: $font-color !important;
  }

  .str-chat-channel,
  .str-chat__container,
  .str-chat__main-panel {
    padding: 0 !important;
    background-color: transparent !important;

    .team-channel-header__name-multi {
      @include flex-center();

      .str-chat__avatar-fallback {
        background-color: $accent-color;
        font-weight: bolder;
      }
      p {
        font-weight: bold;
        font-size: 1.3rem;
      }
    }
  }

  .str-chat .str-chat__textarea > textarea:focus-within {
    box-shadow: 0px 0px 3px $secondary-accent-color;
  }

  .str-chat__message-team--editing {
    background-color: $background-color;
    box-shadow: 0px 0px 3px $secondary-accent-color;

    .str-chat__textarea textarea {
      box-shadow: 0px 0px 3px $secondary-accent-color;
    }

    .str-chat__textarea textarea:focus-within {
      border: 1px solid $secondary-accent-color;
    }
  }

  .str-chat__message-team-form-footer {
    button {
      margin-left: 5px;
    }

    button[type="submit"] {
      color: $accent-color !important;
    }
  }

  path {
    fill: $accent-color !important;
  }

  .channel-empty__container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 20px;
    margin-right: 20px;

    .channel-empty__first {
      font-weight: bold;
      font-size: 1.2rem;
    }

    .channel-empty__second {
      font-size: 1rem;
      font-weight: 500;
    }
  }
}
