@import "./colors";
@import "./mixins";

.team-channel-list {
  width: 100%;
  display: flex;
  flex-direction: column;

  .team-channel-list__message {
    color: $background-color;
    padding: 5px;
    font-size: 0.5rem;
    opacity: 70%;
    font-weight: 600;
  }

  .team-channel-list__header {
    padding: 5px !important;
    @include flex-center();
    justify-content: space-between;

    .MuiIconButton-root {
      color: $background-color !important;
    }
  }

  .team-channel-list__header__title {
    height: 16px;
    color: $background-color;
    margin-bottom: 10px;
    font-weight: 600;
    letter-spacing: 0.3px;
    margin: 0.1rem;
  }

  .team-channel-list__header {
    padding: 10px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  p {
    font-weight: 500;
    color: $background-color;
    margin-left: 5px;
  }
}
